name: Delete old workflow

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 1 * *'   # 每月1号 00:00 执行

jobs:
  del_runs:
    runs-on: ubuntu-latest
    steps:
      - name: Delete workflow runs
        uses: GitRML/delete-workflow-runs@main
        with:
          token: ${{ secrets.AUTH_PAT }}
          repository: ${{ github.repository }}
          keep_minimum_runs: 10
