name: Config Update

on:
  push:
    branches: [ main ]
  workflow_dispatch:
  schedule:
    # 每周一中午 12 点（北京时间）执行
    - cron: '0 4 * * 1'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    # 拉取代码
    - uses: actions/checkout@v4

    # 安装 sing-box
    - name: Setup sing-box
      env:
        SING_BOX_DEB_URL: "https://github.com/SagerNet/sing-box/releases/download/v1.10.0-alpha.27/sing-box_1.10.0-alpha.27_linux_amd64.deb"
      run: |
        set -Eeuo pipefail
        wget -O sing-box.deb $SING_BOX_DEB_URL
        sudo dpkg -i sing-box.deb
        which sing-box || { echo "sing-box 安装失败"; exit 1; }

    # 设置 Python 环境
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.x'

    # 缓存 pip 依赖
    - name: Cache pip
      uses: actions/cache@v3
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
        restore-keys: |
          ${{ runner.os }}-pip-

    # 安装依赖
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        if [ -f requirements.txt ]; then
          pip install -r requirements.txt
        else
          pip install pandas requests pyyaml
        fi


    # 转换规则为 sing-box 格式
    - name: Convert AdGuard DNS Filter to sing-box rule set
      run: |
        sing-box rule-set convert --type adguard --output ./rule/adservers.srs ./rule/adservers.txt

    # 执行脚本
    - name: Run script
      run: python ../main.py
      working-directory: ./rule/

    # 提交并推送更新
    - name: Commit and push config.json
      run: |
        git config --global user.email "action@github.com"
        git config --global user.name "GitHub Action"

        git add ./rule/*.json ./rule/*.srs ./rule/*.txt

        if git diff --staged --quiet; then
          echo "没有文件变化，无需提交"
          exit 0
        else
          git pull --rebase origin main
          git commit -m "Update rules"
          git push origin main
        fi
